*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  background-color: rgb(107, 104, 104);
}
container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  text-align: center;
}
html,body{
  height: 100%;  
}
/* header 부분 */
header{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
header > div:first-child{
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.menu span{
  font-size: 20px;
  color: rgb(167, 162, 162);
  font-weight: 600;
  margin-left: 15px;
  padding-bottom: 5px;
}
.menu span:hover{
  color: white;
  border-bottom: 3px solid white;
}

/* section 부분 */
section div{
  width: 80%;
  margin-bottom: 10px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section>div:first-child{
  font-size: 3rem;
  color: white;
  font-weight: 600;
}
section>div:nth-child(2){
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
}
section>div>a{
  color: rgb(107, 104, 104);
  background-color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

/* footer 부분 */
footer>div{
  color: gainsboro;
  margin-bottom: 25px;
  font-size: 19px;
}
footer>div span{
  color: white;
  font-weight: 500;
}


